<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/module/_header"></div>
<div class="wrapper">
    <!-- 菜单栏模块 -->
    <div th:replace="admin/module/_sidebar"></div>
    <div class="content-wrapper">
        <style type="text/css" rel="stylesheet">
            .draft, .publish, .trash, .checking {
                list-style: none;
                float: left;
                margin: 0;
                padding-bottom: 10px
            }

            #btnNewPost {
                margin-left: 4px;
                padding: 3px 6px;
                position: relative;
                top: -4px;
                border: 1px solid #ccc;
                border-radius: 2px;
                background: #fff;
                text-shadow: none;
                font-weight: 600;
                font-size: 12px;
                line-height: normal;
                color: #3c8dbc;
                cursor: pointer;
                transition: all .2s ease-in-out
            }

            #btnNewPost:hover {
                background: #3c8dbc;
                color: #fff
            }

            .label {
                background-color: #d6cdcd;
            }

            .box-body {
                padding: 0;
            }

            .box {
                border-top: 0;
            }
        </style>
        <section class="content-header">
            <h1 style="display: inline-block;">客房管理</h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax="true" href="/admin">
                        <i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li><a data-pjax="true" href="#">客房管理</a></li>
                <li class="active">客房列表</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul style="list-style: none;padding-left: 0; vertical-align: center">
                        <li class="publish">
                            <a data-pjax="true" th:style="${status == 0 ? 'color: #000':''}" href="?status=0">已上架 |&nbsp;</a>
                        </li>
                        <li class="draft">
                            <a data-pjax="true" th:style="${status == 1 ? 'color: #000':''}" href="?status=1">下架 |&nbsp;</a>
                        </li>
                        <li class="trash">
                            <a data-pjax="true" th:style="${status == 2 ? 'color: #000':''}" href="?status=2">回收站</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <div class="col-md-4 col-xs-12" style="margin-bottom: 10px;padding-left: 0;">
<!--                        <a class="btn btn-primary" href="/admin/post/new">-->
<!--                            <i class="fa fa-plus"></i> 新增-->
<!--                        </a>-->
                        <button type="button" class="btn btn-danger" onclick="batchDelete()">
                            <i class="fa fa-remove"></i> 批量删除
                        </button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="col-md-1"><input type="checkbox" id="allSelect" onclick="doCheck()"></th>
                                    <th class="col-md-2">类型</th>
                                    <th class="col-md-3">客房标题</th>
                                    <th class="col-md-2">房间号</th>
                                    <th class="col-md-2">价格</th>
                                    <th class="col-md-2">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:id="'post-'+${post.id}" th:each="post : ${posts}">
                                    <td><input type="checkbox" name="ids" th:value="${post.id}"></td>
                                    <td>
                                        [[${post.category.cateName}]]
                                    </td>
                                    <td>
                                        <label>
                                            <a th:href="'/post/'+${post.id}" target="_blank">
                                                [[${post.postTitle}]]
                                            </a>
                                        </label>
                                    </td>
                                    <td>
                                        [[${post.number}]]
                                    </td>
                                    <td>
                                        ¥[[${post.price}]]
                                    </td>
                                    <td th:if="${post.postStatus == 0}">
                                        <a th:href="'/post/'+${post.id}" class="btn btn-primary btn-xs"
                                           target="_blank">查看</a>
                                        <a th:href="'/admin/post/edit?id='+${post.id}"
                                           class="btn btn-info btn-xs ">编辑</a>
                                        <button class="btn btn-danger btn-xs " th:onclick="'throwIt('+${post.id}+')'">
                                            删除
                                        </button>
                                    </td>
                                    <td th:if="${post.postStatus == 1}">
                                        <a th:href="'/admin/post/edit?id='+${post.id}" class="btn btn-info btn-xs ">编辑</a>
                                        <button class="btn btn-primary btn-xs " th:onclick="'revertIt('+${post.id}+')'">
                                            上架
                                        </button>
                                        <button class="btn btn-danger btn-xs " th:onclick="'throwIt('+${post.id}+')'">
                                            删除
                                        </button>
                                    </td>
                                    <td th:if="${post.postStatus == 2}">
                                        <button th:onclick="'revertIt('+${post.id}+')'" class="btn btn-primary btn-xs ">
                                            还原
                                        </button>
                                        <button class="btn btn-danger btn-xs " th:onclick="'removeIt('+${post.id}+')'">
                                            永久删除
                                        </button>
                                    </td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="no-margin pull-left">
                                第 [[${pageInfo.current}]] / [[${pageInfo.pages}]] 页
                            </div>
                            <ul class="pagination no-margin pull-right">
                                <li><a data-pjax="true" th:classappend="${pageInfo.current == 1 ? 'disabled' : ''}"
                                       class="btn btn-sm"
                                       th:href="'/admin/post?status='+${status}">
                                    首页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm"
                                       th:classappend="${pageInfo.current == 1 ? 'disabled' : ''}"
                                       th:href="'/admin/post?status='+${status}+'&page='+${pageInfo.current-1}+'&status='+${status}">
                                    上一页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm"
                                       th:classappend="${pageInfo.current >= pageInfo.pages ? 'disabled' : ''}"
                                       th:href="'/admin/post?status='+${status}+'&page='+${pageInfo.current+1}">
                                    下一页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm"
                                       th:classappend="${pageInfo.current >= pageInfo.pages ? 'disabled' : ''}"
                                       th:href="'/admin/post?status='+${status}+'&page='+${pageInfo.pages}">
                                    尾页
                                </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <script>

            function revertIt(id) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/post/revert',
                    async: false,
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            showMsg(data.msg, "error", 1000);
                        } else {
                            showMsgAndReload(data.msg, "success", 2000);

                        }
                    }
                });
            }

            function throwIt(id) {
                layer.confirm('请确认是否删除', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/post/throw',
                        async: false,
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                showMsg(data.msg, "error", 1000);
                            } else {
                                showMsgAndReload(data.msg, "success", 2000);
                            }
                        }
                    });
                    layer.close(index);
                });
            }

            function removeIt(id) {
                layer.confirm('请确认是否删除', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/post/delete',
                        async: false,
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                showMsg(data.msg, "error", 1000);
                            } else {
                                showMsgAndReload(data.msg, "success", 2000);
                            }
                        }
                    });
                    layer.close(index);
                });
            }


            function batchDelete() {
                var arr = [];
                $('input[name="ids"]:checked').each(function () {
                    arr.push($(this).val());
                });
                if (arr.length <= 0) {
                    showMsg('请选择需要删除的数据', "error", 1000);
                } else {
                    layer.confirm('请确认是否删除', function (index) {
                        $.ajax({
                            url: "/admin/post/batchDelete?ids=" + arr,
                            type: "POST",
                            success: function (data) {
                                if (data.code == 0) {
                                    showMsg(data.msg, "error", 1000);
                                } else {
                                    showMsgAndReload(data.msg, "success", 2000);
                                }
                            }
                        });
                        layer.close(index);
                    });
                }
            }



        </script>
    </div>
</div>
<div th:replace="admin/module/_footer"></div>