<!-- Footer Starts -->
<footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright-content">
                        <p>Copyright © 2021 - 2022 <a href="#"></a></p>
<!--                        <ul>-->
<!--                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
<!--                        </ul>-->
                    </div>
                </div>


<!--                <div class="col-md-4 col-sm-12 col-xs-12">-->
<!--                    <div class="tripadvisor-logo text-center">-->
<!--                        <img src="/static/front/images/tripadvisor.png" alt="image">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-4 col-sm-12 col-xs-12">-->
<!--                    <div class="copyright-links mar-bottom-20">-->
<!--                        <ul>-->
<!--                            <li><a href="#">Accomodations</a></li>-->
<!--                            <li><a href="#">Book Now</a></li>-->
<!--                            <li><a href="#">Terms and Conditions</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="playstore-links">-->
<!--                        <img src="/static/front/images/icons/appstore.png" alt="image" class="mar-right-10">-->
<!--                        <img src="/static/front/images/icons/googleplay.png" alt="image">-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Ends -->

<!-- Back to top start -->

<div id="back-to-top">
    <a href="#"></a>
</div>
<!-- Back to top ends -->

<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
        <div class="login-content">

<!--            <div class="login-image">-->
<!--                <img src="/static/front/images/logo-black.png" alt="image">-->
<!--            </div>-->
<!--            -->
            <h3>快速登录</h3>
            <form>
                <div class="form-group">
                    <input type="text" id="userName" placeholder="手机号码,管理员账号admin" value="admin">
                </div>
                <div class="form-group">
                    <input type="password" id="userPass" placeholder="密码，管理员密码123456" value="123456">
                </div>
                <div class="form-group form-checkbox">
                    <input type="checkbox" id="rememberMe"> 记住我
                </div>
            </form>
            <div class="form-btn">
                <a href="#" id="btn-login" class="btn btn-orange">登录</a>
                <p>还没有账号?<a href="#" data-toggle="modal" data-target="#register">创建账号</a></p>
                <p>忘记了密码?<a href="#" data-toggle="modal" data-target="#forget">重置密码</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register" role="dialog">
    <div class="modal-dialog">
        <div class="login-content">

<!--            <div class="login-image">-->
<!--                <img src="/static/front/images/logo-black.png" alt="image">-->
<!--            </div>-->
<!--            -->
            <h3>创建账号</h3>
            <form>
                <div class="form-group">
                    <input type="number" id="regUserName" placeholder="手机号码">
                </div>
                <div class="form-group">
                    <input type="text" id="userDisplayName" placeholder="姓名">
                </div>
                <div class="form-group">
                    <input type="text" id="idCard" placeholder="身份证号码">
                </div>
                <div class="form-group">
                    <input type="password" id="regUserPass" placeholder="密码">
                </div>
            </form>
            <div class="form-btn">
                <a href="#" id="btn-register" class="btn btn-orange">注册</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="forget" role="dialog">
    <div class="modal-dialog">
        <div class="login-content">

<!--            <div class="login-image">-->
<!--                <img src="/static/front/images/logo-black.png" alt="image">-->
<!--            </div>-->
<!--            -->

            <h3>重置密码</h3>
            <form>
                <div class="form-group">
                    <input type="number" id="forgetUserName" placeholder="手机号码">
                </div>
                <div class="form-group">
                    <input type="text" id="forgetIdCard" placeholder="身份证号码">
                </div>
                <div class="form-group">
                    <input type="password" id="forgetUserPass" placeholder="新密码">
                </div>
            </form>
            <div class="form-btn">
                <a href="#" id="btn-forget" class="btn btn-orange">重置密码</a>
            </div>
        </div>
    </div>
</div>

<!-- *Scripts* -->
<script src="/static/front/js/jquery-3.3.1.min.js"></script>
<script src="/static/front/js/bootstrap.min.js"></script>
<script src="/static/front/js/plugin.js"></script>
<script src="/static/front/js/main.js?v=3.0"></script>
<script src="/static/plugins/toast/js/jquery.toast.min.js"></script>
<script src="/static/front/js/login.js"></script>
<script src="/static/front/js/custom-nav.js"></script>
<script src="/static/front/js/custom-swiper1.js"></script>
<script src="/static/front/js/custom-singledate.js"></script>
</body>
</html>
